<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>错误页</title>
</head>
<body>
<h1>您现在看到的是自定义的错误页面</h1>
<ul>
    <li>path：<div th:text="${path}"></div> </li>
    <li>timestamp：<div th:text="${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss')}"></div> </li>
    <li>status：<div th:text="${status}"></div> </li>
    <li>error：<div th:text="${error}"></div> </li>
    <li>exception：<div th:text="${exception}"></div> </li>
    <li>messages：<div th:text="${messages}"></div> </li>
    <li>trace：<div th:text="${trace}"></div> </li>
</ul>
</body>
</html>