<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/semantic/semantic.min.css}" th:rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script th:src="@{/semantic/semantic.min.js}"></script>

</head>
<body>
<a th:href="@{/logout}"><i class="power off icon"></i>注销</a>
<div><h1 class="ui header">欢迎登录</h1></div>
<div>
    <hr/>
</div>
<div>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>leve1</th>
            <th>leve2</th>
            <th>leve3</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a th:href="@{/level1/1}">leve1-1</a></td>
            <td><a th:href="@{/level2/1}">leve2-1</a></td>
            <td><a th:href="@{/level3/1}">leve3-1</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/level1/2}">leve1-2</a></td>
            <td><a th:href="@{/level2/2}">leve2-2</a></td>
            <td><a th:href="@{/level3/2}">leve3-2</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/level1/3}">leve1-3</a></td>
            <td><a th:href="@{/level2/3}">leve2-3</a></td>
            <td><a th:href="@{/level3/3}">leve3-3</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>